.caro-online {
  text-align: center;
  text-decoration: none;
}

.caro-online h1 {
  color: rgb(85, 85, 85);
}

.card {
  width: 400px;
  margin: auto;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.card h2 {
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.ant-card-head-title {
  text-align: center;
  font-size: 32px;
}

.register-form {
  max-width: 400px;
}
.ant-col-rtl .register-form-forgot {
  float: left;
}
.register-form-button {
  width: 100%;
}

.Button {
  width: 100%;
  margin: 0;
}

.SwitchToRegiter {
  text-align: center;
  margin-top: 8px;
}

.SwitchToRegister a {
  text-decoration: none;
}

.center {
  margin: 0 auto;
  margin-top: 16px;
  width: 100%;
}
