.ant-card-meta-title{
    font-size: 14px !important;
    font-weight: bold;
    color: green;
    margin-bottom: 0px !important;
}
.ant-card-body{
    padding: 2px;
    width: 100%;
}
.user-info{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 85vh;
    width: 100%;
    background-color:orange;
}

.card-group{
    width: 100%;
    height: 100%;
}
.join-game{
    display:flex;
    justify-content:center;
    align-items: center;
}

/* cardinfo css */
.ant-statistic-content span {
    font-size: 23px;
}
.ant-statistic-content{
    display: flex;
    flex:row;
    align-items: center;
}
.ant-statistic-content-prefix span{
    margin-bottom: 10px;
}
.start-again{
    display: flex;
    justify-items: start;
    align-items: center;
}
.start-again button{
    margin-left: 5px;
}


.start-again button{
    font-size: 12px;
    padding: 2px 4px !important;
    height: 25px;
}

.status-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:gray
}


