.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 0;
}

.ant-tabs-nav-list {
  width: 100%;
  display: flex;
}

.ant-tabs-tab {
  flex: 1 1 0;
}
