.board {
    table-layout: fixed
}

.board-row {
    display: table;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    /* display: table-cell;
    background: #fff;
    border: 1px solid #999;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    min-height: 28px !important;
    min-width: 28px !important;
    height: 28px;
    width: 28px;
    padding: 0;
    text-align: center;
    cursor: pointer; */
    display: table-cell;
    width: 1.8rem;
    height: 1.8rem;
    border: 1.7px solid #999;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.0rem;
    cursor: pointer;
}
.square:hover{
    background-color: gray!important;
}

.square:focus {
    outline: none;
    padding: 0;
    height: 28px;
    width: 28px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.your-turn{
    font-size: 20px;
}
.your-turn img{
    height: 30px;
}
.game-info{
    height: 35px
}