.online-offline-status {
  font-size: 16px;
  margin-right: 24px;
}

.center {
  margin: 0 auto;
  margin-top: 16px;
  width: 100%;
}

.list-item-user:hover {
  /* background: #ada996; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
  background: #eee;

  border-radius: 5px;
  cursor: pointer;
}

.popover-container {
  width: 420px;
  height: 220px;
}

.ant-popover-inner {
  border-radius: 30px;
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
