.card-all-user{
  height: 85vh;
  font-size: 0.8rem;
}

.online-offline-status {
  font-size: 16px;
  margin-right: 24px;
}

.center {
  margin: 0 auto;
  margin-top: 16px;
  width: 100%;
}

.list-item-user:hover {
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}

.popover-container {
  width: 420px;
  height: 220px;
}
